* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: 'Hanken Grotesk', sans-serif;
}

main {
  max-width: 375px;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px 30px;

  background: hsla(252, 100%, 67%, 1);
  background: linear-gradient(180deg, hsla(252, 100%, 67%, 1) 0%, hsla(241, 81%, 54%, 1) 100%); 
}

h1 {
  margin: 20px 0 20px;
  color: hsl(241, 100%, 89%);
  font-size: 18px;
}

#rating {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 50%;
  width: 140px;
  height: 140px;

  background: hsla(256, 72%, 46%, 1);
  background: linear-gradient(180deg, hsl(256deg 70.36% 46.22%) 0%, hsl(241deg 66.36% 55.53%) 100%);
  padding: 30px;
  margin-bottom: 20px;
}

#rating strong {
  color: white;
  font-size: 50px;
  font-weight: 800;
}

#rating span {
  color: hsla(241, 100%, 89%, 40%);
}

#result h2 {
  color: white;
  font-weight: 700;
}

#result p {
  color: hsl(241, 100%, 89%);
  font-size: 16px;
  text-align: center;
  margin: 10px 40px 35px;
}

#score {
  margin: 0 20px;
}

#score h2 {
  color: hsl(224, 30%, 27%);
  font-size: 18px;
  margin: 20px 0 20px;
}

#reaction, #memory, #verbal, #visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;

  color: hsl(0, 0%, 64%);
  font-weight: 700;
}

#reaction {
  background-color: hsla(0, 100%, 67%, 5%);
}

#reaction span {
  color: hsl(0, 100%, 67%);
  font-weight: 700;
}

#memory {
  background-color: hsla(39, 100%, 56%, 5%);
}

#memory span {
  color: hsl(39, 100%, 56%);
  font-weight: 700;
}

#verbal {
  background-color: hsla(166, 100%, 37%, 5%);
}

#verbal span {
  color: hsl(166, 100%, 37%);
  font-weight: 700;
}

#visual {
  background-color: hsl(234, 85%, 45%, 5%);
}

#visual span {
  color: hsl(234, 85%, 45%);
  font-weight: 700;
}

.icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

#score b {
  color: hsl(224, 30%, 27%);
}

#score button {
  width: 100%;
  color: white;
  background-color: hsl(224, 30%, 27%);
  padding: 20px;
  font-size: 17px;
  font-weight: 700;
  border: none;
  border-radius: 30px;

  margin: 10px 0 25px;
  cursor: pointer;
  transition: all 600ms;
}

#score button:hover {
  scale: 1.1;
  transition: all 600ms;
}

@media (min-width: 768px) {
  body {
  }

  main {
    display: flex;
    flex-direction: row;
    max-width: 700px;
  }

  #result {
    width: 50%;
    border-radius: 30px;
    
  }

  #result p {
    font-size: 18px;
  }

  #score {
    width: 50%;
    margin: 0;
    padding: 0 30px;
    box-shadow: 7px 10px 7px -1px rgba(234, 235, 246, 1);
    border-radius: 0 30px 30px 0;
  }
}